@import url("https://fonts.googleapis.com/css?family=Croissant One");
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnW-KCIeRKZ0iUAgazZhgtjK34ZX34sLahyw&s);
    margin: 0;
    padding: 10px;
    font-family: Croissant One;
    min-width: 400px;
}

input {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 4px;
}

button {
    background: darkgray;
    color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    font-weight: bold;
}

#delete-btn {
    background: slategrey;
    color: whitesmoke;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: gold;
}


